<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="liesse_model">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.96445081530802 -1.62935442915568E-10 1.10680987964632"
        rpy="0 0 0" />
      <mass
        value="26585.0676830834" />
      <inertia
        ixx="19143.6580012146"
        ixy="4.36470507544908E-06"
        ixz="1075.51216103307"
        iyy="90018.8982683709"
        iyz="3.64388262213172E-06"
        izz="89502.679363736" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liesse_model/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liesse_model/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>